<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>$name$</title>
    <style>
      body {
        width: 25em;
        font-size: 13pt;
        margin: 0 auto;
        font-family: sans-serif;
      }

      h1 {
        text-align: center;
      }

      h1 a {
        color: inherit;
        text-decoration: none;
      }
    </style>
</head>
<body>
  <h1><a href="/">$name$</a></h1>
$$yield$$
</body>
</html>
