<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Chattr</title>
    <style>
      body {
        width: 25em;
        font-size: 11pt;
        margin: 0 auto;
        font-family: sans-serif;
      }

      h1 {
        text-align: center;
      }

      h1 a {
        color: inherit;
        text-decoration: none;
      }
    </style>
</head>
<body>
  <h1><a href="/">Chattr</a></h1>
<hr/>
  <a href="/group">list groups</a>
  |
  <a href="/group/new">new group</a>
<hr/>
$yield$
</body>
</html>
